[submodule "terraform.d/plugins/registry.terraform.io/hashicorp/myprovider"]
	path = terraform.d/plugins/registry.terraform.io/hashicorp/myprovider
	url = https://github.com/munnep/tfe_provider_repository.git
